[Unit]
Description=Namaz application
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'source /var/Miniforge3/bin/activate namaz && python /home/mendel/namaz/app.py'
WorkingDirectory=/home/mendel/namaz/
Restart=always

[Install]
WantedBy=multi-user.target
